<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'common/header_inc.html' %}
    <link rel="stylesheet" href="{{{ url_for('static', filename='system/css/login.css') }}}"/>
</head>
<body>
<div class="layui-container layui-bg-gray">
    {% include 'common/header_site.html' %}
    {% include 'loganalysis/nav.html' %}

    <div class="layui-card" style="width: 350px; margin: 30px auto;">
        <div class="layui-card-body">
            <form class="layui-form" action="/login" lay-filter="loginForm">
                <div class="layui-form-item">
                    <input type="text" name="username" required lay-verify="required" placeholder="用户名:"
                           autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-item">
                    <input type="password" name="password" required lay-verify="required" placeholder="密码:"
                           autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-item">
                    <input placeholder="验证码 : " name="captcha" hover class="code layui-input layui-input-inline"/>
                    <img src="{{{ url_for('common.get_captcha.get_page_captcha') }}}" class="codeImage" id="captchaImage"/>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-inline" style="width: 100% !important; margin: 0 !important;">
                        <button class="layui-btn layui-btn-fluid login" style="width: 100% !important;" lay-submit
                                lay-filter="login">登录
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="layui-row layui-margin-5 layui-bg-gray">
        <br>
    </div>
</div>
{% include 'common/footer.html' %}

<script>
    layui.use(['form', 'jquery', 'layer', 'button', 'popup'], function () {
        let form = layui.form;
        let $ = layui.jquery;
        let layer = layui.layer;
        let button = layui.button;
        let popup = layui.popup;
        let captchaPath = "{{{ url_for('common.get_captcha.get_page_captcha') }}}";

        /**
         * 刷新验证码函数
         */
        const refreshCaptchaImage = (function () {
            let captchaImage = document.getElementById("captchaImage")
            return function () {
                captchaImage.src = captchaPath + "?" + Math.random()
            }
        })()

        /**
         * 立即刷新验证码并且每隔 30秒 刷新
         */
        const initCaptchaImageTimer = (function () {
            let captchaImageTimer = null
            return function () {
                clearInterval(captchaImageTimer)
                captchaImageTimer = setInterval(function () {
                    refreshCaptchaImage()
                }, 30 * 1000);
                refreshCaptchaImage()
            }
        })()
        initCaptchaImageTimer()

        form.on('submit(login)', function (data) {
            let loader = layer.load();
            let btn = button.load({elem: '.login'});
            console.log(data)
            $.ajax({
                data: data.field,
                type: "post",
                dataType: 'json',
                contentType: 'application/x-www-form-urlencoded',
                success: function (result) {
                    layer.close(loader);
                    btn.stop(function () {
                        if (result.success) {
                            popup.success(result.msg, function () {
                                location.href = "{{{ url_for('loganalysis.index.index') }}}";
                            })
                        } else {
                            popup.failure(result.msg, function () {
                                initCaptchaImageTimer()
                            });
                        }
                    })
                }
            });
            return false;
        });
        $("#captchaImage").click(function () {
            console.log('click')
            initCaptchaImageTimer()
        });
        if (location.href.includes('?')) {
            popup.failure('请先登录')
        }
        $('#login').addClass('layui-this')
    })
</script>
</body>
</html>