<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'common/header_inc.html' %}
</head>
<body>
<div class="layui-container layui-bg-gray">
    {% include 'common/header_site.html' %}
    {% include 'loganalysis/nav.html' %}
    <div class="layui-row">
        <div class="layui-col-md2">
            {% include 'loganalysis/mine_nav.html' %}
        </div>
        <div class="layui-col-md3">
            <div class="layui-row">
                <div class="layui-col-md12 layui-padding-2"></div>
            </div>
            <form class="layui-form" action="">
                <div class="layui-form-item">
                    <label class="layui-form-label">原密码</label>
                    <div class="layui-input-block">
                        <input type="password" name="oldpassword" required lay-verify="required"
                               placeholder="请输入原密码"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">新密码</label>
                    <div class="layui-input-block">
                        <input type="password" name="newpassword" required lay-verify="required"
                               placeholder="请输入新密码"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">确认密码</label>
                    <div class="layui-input-block">
                        <input type="password" name="confirmpassword" required lay-verify="required"
                               placeholder="请输入确认密码"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit="" lay-filter="formDemo" style="width: auto !important;">
                            立即提交
                        </button>
                        <button type="reset" class="layui-btn  layui-btn-primary layui-bg-gray"
                                style="width: auto !important;">重置
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% include 'common/footer.html' %}
</div>
<script>
    selectHomeNav('mine');
    selectMineNav(0, 1);
</script>
<script>
    layui.use(['form', 'button', 'popup', 'jquery', 'layer'], function () {
        let form = layui.form;
        let button = layui.button
        let $ = layui.jquery
        let popup = layui.popup
        let layer = layui.layer
        //监听提交
        form.on('submit(formDemo)', function (data) {
            if (data.field.newpassword != data.field.confirmpassword) {
                popup.failure('两次密码不一致')
                return false
            }
            let loader = layer.load();
            let btn = button.load({elem: '.login'});
            $.ajax({
                url: '/loganalysis/change_password',
                data: data.field,
                type: "post",
                dataType: 'json',
                contentType: 'application/x-www-form-urlencoded',
                success: function (result) {
                    console.log('here --------------')
                    layer.close(loader);
                    btn.stop(function () {
                        if (result.success) {
                            popup.success(result.msg, function () {
                                location.href = "{{{ url_for('loganalysis.passport.login') }}}";
                            })
                        } else {
                            popup.failure(result.msg, function () {
                            });
                        }
                    })
                }
            });


            return false;
        });
        $('#mine').addClass('layui-this')
        $('#update_password').addClass('layui-this')
        $('#setup').addClass('layui-nav-itemed')
    });
</script>

</body>
</html>