<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'common/header_inc.html' %}
    <style>
        .layui-form {
            width: 100% !important;
        }
    </style>
</head>
<body>
<div class="layui-container">
    {% include 'common/header_site.html' %}
    <div class="layui-row">
        <div class="layui-col-md2">
            {% include 'admin/nav.html' %}
        </div>
        <div class="layui-col-md10">
            <table class="layui-table" id="log-list" style="width: auto;">
            </table>
        </div>
    </div>
    {% include 'common/footer.html' %}
</div>
<script>
    selectMineNav(1, 3, 'admin-nav');
</script>
<script>
    layui.use(['table', 'jquery'], function () {
        let table = layui.table
        let $ = layui.jquery
        table.render({
            elem: '#log-list',
            url: '/admin/log/list',
            method: 'get',
            scrollX: true,
//            page: {
//                limit: 10
//                , limits: [10, 30, 50, 100]
//                , layout: ['count', 'first', 'prev', 'page', 'next', 'last', 'limit']
//                , groups: 10
//            },
            cols: [[ //表头
                {field: 'id', title: 'ID', fixed: 'left'}
                , {field: 'description', title: '用户名'}
                , {field: 'url', title: 'URL'}
                , {field: 'ip', title: 'IP'}
                , {
                    field: 'success', title: '是否成功', templet: function (d) {
                        return d.success ? '是' : '否'
                    }
                }
                , {field: 'user_agent', title: '用户代理'}
                , {field: 'create_at', title: '登录时间'}
            ]]
        })
        $('#data-manage').addClass('layui-nav-itemed')
        $('#log-manage').addClass('layui-this')
    })
</script>
</body>
</html>