<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link href="{{{ url_for('static', filename='system/css/main.css') }}}" rel="stylesheet"/>
    <link href="{{{ url_for('static', filename='system/css/error.css') }}}" rel="stylesheet"/>
</head>
<body>
<div class="content">
    <img src="{{{ url_for('static', filename='system/images/404.svg') }}}" alt="">
    <div class="content-r">
        <h1>404</h1>
        <p>抱歉，你访问的页面不存在或仍在开发中</p>
        <a href="/"><button class="pear-btn pear-btn-primary">返回首页</button></a>
    </div>
</div>
</body>
</html>
