<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link rel="stylesheet" href="{{{ url_for('static', filename='layui/layui/css/layui.css') }}}">
<script src="{{{ url_for('static', filename='layui/layui/layui.js') }}}"></script>

<link rel="stylesheet" href="{{{ url_for('static', filename='pear/css/pear.css') }}}">
<script src="{{{ url_for('static', filename='pear/pear.js') }}}"></script>
<style>
    .layui-bg-gray {
        background-color: #fafafa !important;
    }
</style>
<title>{{{ site_info.title }}}</title>
<script>
    layui.use(['layer', 'element', 'button', 'popup'], function () {
    })
</script>